<h1>Watchlists</h1>

<ul><% @watchlists.each do |wl| %>
    <li><%= wl.name %> - <%= wl.description %></li>
<% end %></ul>

<%= form_tag new_watchlist_path, method: "Get" do %>
    <%= submit_tag "Create New Watchlist" %>
<% end %>