<h1>Best Performing Securities</h1>
<ol><% @securities.each do |sec| %>
    <li> <%= sec.symbol %>
        <ul>
            <li>Change Percent: <%= sec.changePercent %></li>
            <li>Change: <%= sec.change %></li>
            <li>Latest Price: <%= sec.latestPrice %></li>
        </ul>
    </li><br>
<% end %></ol>