<% if @watchlist %>
    <h1><%= @watchlist.name %> Securities</h1>
<% else %>
    <h1>Recently Searched Securities</h1>
<% end %>

<%= render partial: 'display_table', locals: {secs: @securities, template: 'index'} %>