/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 * {
     margin: 0;
     padding: 0;
 }
 
 html, body {
    background-color: #2b2b2b;
    color: white;
 }

 a {
    color: white;
 }

 header {
    display: flex; 
    flex-shrink: 0;
    height: 120px;
    background-color: black;
 }

 main {
    padding-top: 20px;
    min-height: 72.3%;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    align-content: center;  
    width: 100%;
 }

 footer {
    position: relative;
    display: block;
    height: 50px;
    line-height: 50px;
    background-color: black;
    margin-top: 10px;
    width: 100%;
    bottom: 0
 }

.flex-container {
    display: flexbox;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.site-menu {
    width: 20%;
    height: 100px;
    margin-right: 5px;
    text-align: center;
}

.site-menu a {
    font-size: 1.2em;
    color: white;
    display: block;
}

.site-title {
    font-size: 2em;
    justify-content: center;
    text-align: center; 
    width: 60%;
    height: 100px;
    margin-left: 5px;
    margin-right: 5px;
}

.site-title img {
    height: 100px;
    width: 325px
}

.profile {
    width: 20%;
    height: 100px;
    margin-left: 5px;
    text-align: center
}

.profile img {
    padding: 3px;
    height: 80%;
    max-width: 70%;
    margin: auto
}

.marquis {
    position: absolute;
    overflow: hidden;
    top: 100px;
    width: 100%;
    height: 20px;
    margin: auto;
    background-color: green;
}

.marquis p {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    text-align: center;
    /* Starting position */
    transform:translateX(100%);
    /* Apply animation to this element */	
    animation: marquis 20s linear infinite;
}

/* define marquis animation */
@keyframes marquis {
    0%   { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
}

.footer-section {
    display: inline-block;
    text-align: center;
    width: 31%;
    height: 90%;
    padding: 0 1%;
    border-left-width: 1%;
    border-left-style: solid;
    border-left-color: rgba(0, 107, 14, 70%);
    color: #5c5c5c;
}

.footer-section.first {
    border-left-width: 0;
}

.form {
    width: 80%;
    font-size: 1.5em;
}

.form input {
    width:75%;
    background-color: #CFCDCD;
}

.form input[type=checkbox] {
    width: 5%;
}

.form input[type=radio] {
    width: 5%;
}

.form textarea {
    width: 75%;
    height: 6em;
    background-color: #CFCDCD;
}

.form input.submit-btn {
    width: 15%;
    height: 30px;
}

.field_with_errors input {
    background-color: darkred
}

.button_list {
    display: block;
    clear: both;
    text-align: center;
    width: 100%;  
    height: 4.5%;
    border-top: double 1px grey;
    border-bottom: double 1px grey;
    padding-top: 10px;
    padding-bottom: 10px
}
    
.button_list form {
    display: inline;
    margin: 5px;
    clear: both;
}

/* .button_list form input {
    width: 10%;
    height: 25px;
    font-size: 0.9vw;
} */

.button_list a {
    color: white;
}

.button {
    font-size: 0.95em;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.16, rgb(207, 207, 207)), color-stop(0.79, rgb(252, 252, 252)));
    background-image: -moz-linear-gradient(center bottom, rgb(207, 207, 207) 16%, rgb(252, 252, 252) 79%);
    background-image: linear-gradient(to top, rgb(207, 207, 207) 16%, rgb(252, 252, 252) 79%); 
    padding: 3px;
    border: 1px solid #000;
    color: black;
    text-decoration: none;
}

table {
    border: 4px solid #b8b8b8;
    border-collapse: collapse;
    margin-top: 15px;
}

th, td {
    border: 1px solid #b8b8b8;
    border-collapse: collapse;
    text-align: center;
    padding: 5px;
}   

th {
    height: 30px;
    width: 120px;
    background-color: #444;
}

.table-link {
    color: white;
}

ol ul li {
    text-indent: 50px;
}

.oauth_pic img {
    height: 50px;
    width: 50px;
    display: block;
    float: left;
    margin-right: 2%;
}