.ipo-window {
    position: absolute;
    left: 1%;
    top: 18%;
    display: flex;
    flex-flow: row wrap;
    width: 25%;
    height: 35%;
    outline-style: solid;
    outline-width: 2px;
    outline-color: aquamarine;
}

.indicator-chart {
    position: absolute;
    top: 18%;
    display: flex;
    flex-flow: row wrap;
    width: 45%;
    height: 40%;
    outline-style: solid;
    outline-width: 2px;
    outline-color: red;
}

.hotlist {
    position: absolute;
    left: 74%;
    top: 18%;
    display: flex;
    flex-flow: row wrap;
    width: 25%;
    height: 74%;
    outline-style: solid;
    outline-width: 2px;
    outline-color: blue;
}

.headlines-box {
    position: absolute;
    left: 1%;
    bottom: 8%;
    display: flex;
    flex-flow: row wrap;
    width: 25%;
    height: 35%;
    outline-style: solid;
    outline-width: 2px;
    outline-color: orange;
}

.best-performing-box {
    position: absolute;
    display: flex;
    bottom: 8%;
    flex-flow: row wrap;
    width: 45%;
    height: 30%;
    outline-style: solid;
    outline-width: 2px;
    outline-color: green;
}